$p-color:rgba(241, 67, 96, 0.973);
$g-color:rgb(150, 149, 149);
$w-color:#fff; 
$b-color:black;
 
.inner{
    width:80%;
    margin:0 auto;
}


button{
    width:160px;
    height:40px;
    background-color:$p-color;
    border:none;
    border-radius:5px;

    a{
        text-decoration:none;
        color:$w-color;
        font-weight:600;
        font-size:16px;
    }
}   

.clearfix::after{
        content:"";
        display:block;
        clear:both;
}

*{
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* nav section */
@import "file1";

/* 2nd column */
@import "file2";

/* 3rd column */
@import "file3";

/* 4th column */
@import "file4";

/* Footer */
@import "file5";


@media only screen and (max-width:1020px){

.inner{
    width:80%;
    margin:0 auto;
}

.second-col{
    width:100%;

    h3{
        width:90%;
        font-size:16px;
    }

    .row1{
        width:100%;
    }
}
}

    
@media only screen and (max-width:1015px){

    .third-col{

        .row-1{
            width:100%;
    
            .block-1{
                width:45%;
                margin-left:20px;

                hr{
                    margin-top:20px;
                }
            }
        }
    }
}

@media only screen and (max-width:957px){

    .second-col{
        width:100%;
    
        h3{
            width:90%;
            font-size:16px;
        }
    
        .row1{
            width:100%;

            .block1{
                width:30%;
                margin:0 auto;
                margin-left:20px;
                margin-top:10px;

                p{
                    font-size:12px;
                }
            }
        }
    }

    .third-col{
        width:100%;
       
      .row-1{
         padding:40px 0px;

        .block-1{
            width:45%;
           
            .txt{
                font-size:13px;
            }
        }

        hr{
            margin-top:10px;
        }
    }

  }

}

@media only screen and (max-width:760px){

    nav{
       position:relative;

        .left{
           float:none;
           padding-left:20px;
        }

        .right{
           ul{
               float:none;
               padding-left:20px;
               display:none;
               li{
                   float:none;
                   margin-top:20px;
               }
           }
        }

        .toggle{
            display:block;
            width:100%;
            text-align:right;
            position:absolute;
            margin-top:-30px;

            .fa{
                font-size:28px;
                color:$w-color;
                padding:5px;
            }
        } 

    }

    .second-col{
        width:100%;

        .row1{
           width:100%;
            .block1{
                width:45%;
           }
        }
        
    }
}

@media only screen and (max-width:520px){

     .second-col{
         width:100%;

         h3{
             width:100%;
             font-size:13px;
             font-weight:500;
             line-height:24px;
         }

         .btn{
             padding:20px 0px;
         }

         .row1{
             width:100%;

             .block1{
                 width:70%;
                 margin-left:15%;
                 margin-top:10px;
             }
         }
     }

     .third-col{
         padding-bottom:20px;
         .row-1{
             width:100%;
             .block-1{
                 width:100%;
                 margin-left:0px;
                 span{
                     font-size:15px;
                 }

                 .txt{
                     h2{
                         font-size:15px;
                     }
                     p{
                         font-size:13px;
                         line-height:20px;
                     }
                 }

                 hr{
                     display:none;
                 }
             }
         }
     }

     .fourth-col{
         padding:40px 0px;

         h1{
             font-size:20px;
         }
         p{
             font-size:9px;
             font-weight:400;
             margin-bottom:40px;
             margin-top:10px;
         }
     }

     footer{
         p{
             font-size:12px;
         }
         .fa{
             font-size:10px;
         }
     }
}